name: Check dependencies

on:
  push:
    branches: '*'
  schedule:
  - cron:  "0 5 * * *" # this is utc time

jobs:
  build-app:
    name: Build koronavilkku-ios
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Derived data
        uses: actions/cache@v2
        with:
          path: DerivedData
          key: koronavilkku-ios-build-${{ hashFiles('**/*.pbxproj') }}
          restore-keys: koronavilkku-ios-build
      - name: Build app
        run: xcodebuild build -workspace Koronavilkku.xcworkspace -scheme Koronavilkku -derivedDataPath DerivedData -configuration Debug CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
  dependency-scan:
    needs: [build-app]
    name: Owasp Dependency Scanning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Derived data
        uses: actions/cache@v2
        with:
          path: DerivedData
          key: koronavilkku-ios-build
          restore-keys: koronavilkku-ios-build
      - name: Cache vulnerability data cache
        uses: actions/cache@v2
        with:
          path: /github/workspace/owasp/dependency-check/data
          key: ${{ runner.os }}-owasp-dependency-check
          restore-keys: ${{ runner.os }}-owasp-dependency-check
      - name: OWASP dependency check
        uses: ./.github/docker-owasp-dependency-check-ios
        with:
          derived-data-path: DerivedData
      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: dependency-check-result
          path: ./dependency-check-report.html
      - name: Notify to slack
        if: ${{ failure() }}
        uses: ./.github/docker-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: "OWASP dependency check"
          status: ${{job.status}}
      - name: Notify by email
        if: ${{ failure() }}
        uses: ./.github/docker-notify-email
        env:
          API_KEY: ${{ secrets.EMAIL_SERVICE_API_KEY }}
          SEND_URL: ${{ secrets.EMAIL_SERVICE_SEND_URL }}
          RECIPIENTS: ${{ secrets.EMAIL_SERVICE_RECIPIENTS }}
          FROM: ${{ secrets.EMAIL_SERVICE_SENDER }}
        with:
          status: ${{job.status}}
