name: Check latest release dependencies

on:
  schedule:
    - cron:  "30 5 * * *" # this is utc time

jobs:
  build-release-app:
    name: Build Koronavilkku-ios Latest Release
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Checkout latest release
        run: |
          git fetch --all --tags --prune
          git checkout tags/$(git tag | sed '/-/d' | sort -t "." -k1,1n -k2,2n -k3,3n | tail -1) -b latest_release
      - name: Cache Derived data
        uses: actions/cache@v2
        with:
          path: DerivedData
          key: koronavilkku-ios-release-build1-${{ hashFiles('**/*.pbxproj') }}
          restore-keys: koronavilkku-ios-release-build1
      - name: Build app
        env:
          DEVELOPER_DIR: /Applications/Xcode_12.app/Contents/Developer
        run: |
          xcodebuild -version
          xcodebuild build -workspace Koronavilkku.xcworkspace -scheme Koronavilkku -derivedDataPath DerivedData -configuration Debug CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
  release-dependency-scan:
    needs: [build-release-app]
    name: Owasp Release Dependency Scanning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Derived data
        uses: actions/cache@v2
        with:
          path: DerivedData
          key: koronavilkku-ios-release-build1
          restore-keys: koronavilkku-ios-release-build1
      - name: Cache vulnerability data cache
        uses: actions/cache@v2
        with:
          path: owasp_dependency_check_data
          key: ${{ runner.os }}-owasp-release-dependency-check-data
          restore-keys: ${{ runner.os }}-owasp-release-dependency-check-data
      - name: OWASP dependency check
        uses: ./.github/docker-owasp-dependency-check-ios
        with:
          derived-data-path: DerivedData
      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: dependency-check-result
          path: ./dependency-check-report.html
      - name: Notify to slack
        if: ${{ failure() }}
        uses: ./.github/docker-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: "OWASP dependency check"
          status: ${{job.status}}
      - name: Notify by email
        if: ${{ failure() }}
        uses: ./.github/docker-notify-email
        env:
          API_KEY: ${{ secrets.EMAIL_SERVICE_API_KEY }}
          SEND_URL: ${{ secrets.EMAIL_SERVICE_SEND_URL }}
          RECIPIENTS: ${{ secrets.EMAIL_SERVICE_RECIPIENTS }}
          FROM: ${{ secrets.EMAIL_SERVICE_SENDER }}
        with:
          status: ${{job.status}}
